root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

dotnet_sort_system_directives_first = true

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

csharp_prefer_braces = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Keep analyzer noise manageable while rules are being adopted.

# CA1848: Do not use 'nameof' in attributes, as it can cause issues with some tools and is not necessary in this context.
dotnet_diagnostic.CA1848.severity = none
# CA1711: Identifiers should not have incorrect suffixes, which can be confusing and misleading. 
# In this case, the rule is suggesting that certain identifiers should not end with "EventArgs" if they do not actually represent event data. 
dotnet_diagnostic.CA1711.severity = suggestion
# Roslynator rule to prefer static local functions, which are more efficient and can be used in more contexts. 
dotnet_diagnostic.RCS1194.severity = suggestion

[*.{csproj,props,targets}]
indent_style = space
indent_size = 2
